* {
    box-sizing: border-box;
    margin: 0px;
}
html, body {
    margin: 0px auto;
    color: white;
    max-width: 100vw;
    min-width: 100vw;

}

.heading {
    line-height: 130px;
    font-family: 'Droid Serif', serif;
}
/*title {
    font-size: 325px;
}*/
.uiVCont {
    display: inline-block;
    min-height: 100vh;
    text-align: center;
    max-width: 900px;
    min-width: 900px;

}
.main {
    background-color: lightgrey;
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 100vw;
    min-width: 100vw;
}

.header {
    width: auto;
    height: 130px;
    background-color: blue;
    text-align: center;
}
.leftPane {
    width: 20%;
    /*height: 750px;*/
    background-color: red;
    display: inline-block;
    float: left;
}
.views {
    font-size: 30px;
    list-style-image: url('./../Images/usaflag2.jpg');
    width: 100%;
}
.views li {
    margin-bottom: 10px;
    width: 100%;
}
.navli {
    width: 100%;
}
.navli:hover {
    background-color: blue;
    width: 100%
}
/*ul {

}*/
/*SCROLL DIR*/
.scroll {
    background-image: url('./../Images/scroll3.png');
    width: : 962px;
    height: : 1024px;
    background-size: cover;
    overflow: hidden;
    padding-top: 250px;
    /*margin-left: -400px;*/
    margin: auto;
}
.data {
    color: black;
    list-style-type: none;
    /*margin-top: 100px;*/
    width: 450px;
    margin: 0 auto;
    text-align:inherit;
    padding-top: 30px;
    padding-left: 25px;
    font-family: 'Rouge Script', cursive;
    font-size: 30px;
}
.dataDiv {
    overflow: scroll;
    height: 700px;
    width: 700px;
    overflow-x: hidden;
    padding-left: 140px;
    margin-top: 50px;
    margin-bottom: 185px;
    margin-right: 50px;
    margin-left: 100px;
    overflow-y: auto;
}
.lkbx {
    width: auto;
    height: 230px;
    background-color: white;
    border: 3px solid black;
    padding-left: 10px;
    /*margin-top: -500px;*/
}
#lkbxtit {
    color: blue;
    margin-left: 80px;
}
.hmPics {
    /*width: 50px;
    height: 50px;
    border: 1px solid black;*/
    display: flex;
    flex-wrap: wrap;
}
